<div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container">
        
          <h3><a href="/">QMap</a></h3>
          <ul class="nav">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Quests", quests_path %></li>
          </ul>       
              <%= render 'shared/sign_in_form' %>  
            
        </div>
      </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
  </div><!-- /topbar-wrapper -->
  